@inherits LayoutComponentBase

<PageTitle>VersionTesting</PageTitle>

<HeadContent>
    <meta name="version" content="@version"/>
    <meta name="assemblyFullName" content="@assemblyFullName"/>
</HeadContent>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code{
    [Inject] ILogger<MainLayout> Logger { get; set; }

    Version version;
    string assemblyFullName = string.Empty;

    protected override void OnInitialized()
    {
        try
        {
            version = typeof(Program).Assembly.GetName().Version;
            assemblyFullName = typeof(Program).Assembly.GetName().FullName;
        }
        catch (Exception ex)
        {            
            Logger.LogError(ex, "Error getting assembly version");
        }        
    }
}